<carousel class="carousel">
    <slide>
        <img src="/assets/images/home1.jpg" alt="first slide">
    </slide> 
    <slide>
        <img src="/assets/images/home2.jpg" alt="second slide">
    </slide>
    <slide>
        <img src="/assets/images/home3.jpg" alt="third slide">
    </slide> 
</carousel>
<section class="featured">
    <div>
        <h1>Welcome to Doctor Desktop</h1>
    </div>
    <div class="social-icons">
        <a href="#" class="social-icon"><i class="fa fa-facebook-f"></i></a>
        <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fa fa-instagram"></i></a>
    </div>
    <div class="contact-us">
        <h3>Contact Us</h3>
        <p>Email: contact@drdesktop.com</p>
        <p>Phone: (+40)711 234 567</p>
    </div>
</section>